# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Caché
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db